* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes reload {
    0% {
        opacity: 0; 
        transform: scale(0.8); 
    }
    100% {
        opacity: 1; 
        transform: scale(1); 
    }
}

body {
    animation: reload 0.8s ease-out;
    background-color: #9ed9f1b9;
}

.navbar {
background-color: #333;
color: #fff;
padding: 0.5rem;
position: sticky;
top: 0;
z-index: 1000;

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navLogo {
    margin: 0 0 0 2rem;
    font-size: 2rem;
    }

    .nav-links li {
    display: inline;
    margin-right: 2rem;
    font-size: 1.3rem;
    cursor: pointer;

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
        text-decoration: underline;
        }
    }
    }
}
}

.postWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 5rem 0 2rem 0;
        font-size: 3rem; 
    }
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    input {
        font-size: 1.3rem;
    }

    .addBtn {
        border-radius: 2rem;
        padding: 0.3rem 1rem; 
        background-color: #007bff; 
        font-size: 1.1rem;
        color: white;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s ease; 
    }
    
    .addBtn:hover {
        background-color: rgb(65, 185, 65);
        color: white;
    }
}

.separator {
    width: 70vw;
    border-top: 2px solid black;
    margin: 1rem 0 5rem 0;
  }

  input, .textArea {
    text-align: center;
  }

.textArea {
    display: block;
    width: 20rem;
    height: 15rem;
    padding: 1.3rem;
    max-width: 24rem;
    min-width: 15rem;
    max-height: 20rem;
    min-height: 15rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    margin-bottom: 0.6rem;
}

.contentWrapper {
    padding: 2rem;
    margin-top: 4rem;
    max-width: 30rem;
    min-width: 20rem;
    position: relative;
    text-align: center;
    border-radius: 2rem;
    border: 1px solid black;
    background-color: white;  
    
    h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    word-wrap: break-word;
    margin-top: 1.5rem;
    font-size: 1.4rem;
    }

    .blogText {
    font-size: 1.3em;
    margin: 2rem 0;
    word-wrap: break-word;
    }
    
    .editBtn {
    top: 0;
    left: 0;
    color: blue;
    margin: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    transition:  0.3s ease;
    }

    .editBtn:hover {
    font-weight: bolder;
    color: rgb(21, 21, 177);
    }

    .updateBtn {
        padding: 0.5rem;
        border: none;
        font-size: 1.1rem;
        cursor: pointer;
        border-radius: 1.5rem;
        transition:  0.3s ease; 
        color: green;
    }

    .updateBtn:hover {
        font-weight: bolder;
        background-color: rgb(212, 208, 208);
        box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
        }
    
    .deleteBtn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 1rem;
        cursor: pointer;
        font-size: 1.2rem;
        color: red;
        transition:  0.3s ease; 
    }
    
    .deleteBtn:hover {
        font-weight: bolder;
        color: rgb(255, 0, 0);
    }
    
    .backBtn {
        top: 0;
        left: 0;
        color: blue;
        margin: 1rem;
        cursor: pointer;
        font-size: 1.2rem;
        position: absolute;
        transition:  0.3s ease; 
        
    }

    .backBtn:hover {
        font-weight: bolder;
        color: rgb(9, 9, 129);
    }


    .errorEdit {
    margin-bottom: 1rem;
    }
}

.error, .errorEdit  {
    color: red;
    font-size: 1.2rem;
    text-align: center;
  }

.contentWrapper:nth-child(odd):before {
    content: "";
    position: absolute;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    left: 32px;
    bottom: -24px;
  }
  
  .contentWrapper:nth-child(odd) {
      left: -320px;
        }

.contentWrapper:nth-child(even):before {
    content: "";
    position: absolute;
    border-left: 24px solid #fff;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    border-bottom: 20px solid transparent;
    right: 32px;
    bottom: -25px;
    transform: rotate(80deg);
}

.contentWrapper:nth-child(even) {
        top: -130px;
        right: -320px;
    }

.footer {
    margin-top: 10rem;
    width: 100%;
    padding: 1.25rem;
    color: #fff;
    text-align: center;
    background-color: #333;
  }
  