* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-bottom: 4rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper2 {
    margin-top: 4rem;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 2rem;
    position: relative;
    max-width: 33rem;
    min-width: 23rem;
    text-align: center;
    position: relative;
}


.wrapper2 input{
    width: 12rem;
    margin: 0 auto;
    margin-top: 1.5rem;
}

.wrapper2 textarea {
    max-width: 29rem;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}


h1 {
    margin: 4rem 0 2rem 0;
    
}

.title, .textArea {
    display: block;
    text-align: center;
    font-size: 1.2rem;
}

.textArea {
    height: 15rem;
    width: 20rem;
    border-radius: 2rem;
    margin-bottom: 0.6rem;
    padding: 0.6rem;
}

.addBtn {
    border-radius: 2rem;
    padding: 0.3rem 1rem; 
    background-color: #007bff; 
    font-size: 1.1rem;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.addBtn:hover {
    background-color: rgb(65, 185, 65);
    color: white;
}

.editBtn {
    top: 0;
    left: 0;
    color: blue;
    margin: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    transition:  0.3s ease;
}

.editBtn:hover {
    font-weight: bolder;
    color: rgb(21, 21, 177);
}

.updateBtn {
    top: 0;
    left: 0;
    color: blue;
    margin: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    position: absolute;
    transition:  0.3s ease; 
}

.updateBtn:hover {
    font-weight: bolder;
    color: rgb(9, 9, 129);
}


.deleteBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: red;
    transition:  0.3s ease; 
}

.deleteBtn:hover {
    font-weight: bolder;
    color: rgb(255, 0, 0);
}

.backBtn {
    padding: 0.5rem;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 1.5rem;
    transition:  0.3s ease; 
}

.backBtn:hover {
    font-weight: bolder;
    background-color: rgb(212, 208, 208);
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
}

.postTitle {
    font-size: 1.5rem;
    text-decoration: underline;
}

.postContent {
    font-size: 1.3em;
    margin: 2.3em 0;
    word-wrap: break-word;
}

.error {
    color: red;
    font-size: 1.2rem;
    text-align: center;
  }
  
.errorEdit {
    color: red;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  